<div [@routerTransition]>
        <div *ngIf="cons.SUCCESS_MSG" class="alert alert-success">
                {{cons.SUCCESS_MSG}}
            </div>
    <app-page-header [heading]="'Companies'" [icon]="'fa-table'"></app-page-header>
    <div class="row" >
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
                
                <div class="card-header" style="padding: 0.25rem 1.25rem;" *ngIf=compData>
                    Company Management
                    <span style="float:right;">
                            <a [routerLink]="['/companies/addcompany']" class="btn btn-sm btn-primary">
                                <i class="fa fa fa-plus"></i> Add Company
                            </a> </span>
                </div>
                <div class="card-body table-responsive">
                        <div id="example_filter" class="dataTables_filter">
                                <label>Search: <input type="text" name="search" placeholder="Enter keyword" aria-controls="example" [(ngModel)]="filter">
                                </label>
                              </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th (click)="sort('name')">Name
                                    <span class="fa fa-sort" *ngIf="key =='name'" [ngClass]="{'fas fa-sort-up':reverse,'fas fa-sort-down':!reverse}"></span>
                            </th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Address</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>      
                       <tr *ngFor="let item of compData | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                            <th scope="row">{{ i+1 }}</th>
                            <td>{{item.name}}</td>
                            <td>{{item.email}}</td>
                            <td>{{item.phone}}</td>
                            <td>{{item.address}}</td>
                            <td>{{item.addedon | date: 'dd-MM-yyyy'}}</td>
                            <td>
                             <span class="badge badge-{{item.status ==1 ? 'success': 'danger' }}">{{item.status ==1 ? 'Active': 'Inactive' }}</span>
                           </td>
                           <td>
                            <a class="badge badge-primary" routerLink="/company/edit/{{item.id}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                            <a class="badge badge-danger" (click)="deleteEmployee(item.id)"><i class="fa fa-trash-o" style="color: #fff;"></i></a>
                          </td>
                        </tr>                        
                        </tbody>
                    </table>
                    <div class="page"><pagination-controls (pageChange)="p = $event"></pagination-controls></div>
                </div>
            </div>
         </div>
    </div>
</div>
